body,
html {
    margin: 0;
    padding: 0;

    background: #f5f5f5;
}

.DashBoard-content {
    flex: 1; 
    overflow-y: auto; 
    overflow-x: hidden;

    
    &::-webkit-scrollbar {
        width: 0.35rem; 
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #23476A; 
        border-radius: 999px;

        &:hover {
            background: #2f5f8f; 
        }
    }
}

.DashBoard-container {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column; 

    padding-top: 90px; 
    box-sizing: border-box;
}

.DashBoard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10; 
}

.DashBoard-header h1 {
    position: absolute;

    display: block;

    left:50.6%;

    transform: translateX(-50%);

    margin: 0;
}

.DashBoard-header button {
    border: none;

    background: none;

    cursor: pointer;

    margin-left: auto;

    padding: 1rem;

            img {
                transform: scale(0.8);
                transition: transform 0.3s;
                display: block;
        &:hover{
          transform: scale(1);
        }
        &:active{
          transform: scale(0.7);
        }
    }
}



.Dashboard-list {
    list-style: none;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 30px;

    padding: 25px;

    margin: 0;

    width: 100%;

    box-sizing: border-box;

    justify-items: center;
}