.auth-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #1B3752, #3D7BB8);
    padding-bottom: 100px;
}

.auth-container p {
    color: #f1f1f1;

}

.auth-container a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.auth-container a:hover {
    color: #a8c8e8;
}

.auth-card {
    background-color: #1B3752;
    color: #f1f1f1;
    width: 400px;
    margin-top: 50px;
    border-radius: 25px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    gap:5px;

    .auth-error-email {
        color: #e0422a;
        margin:0 0 0.3rem 15px;
        margin-bottom: 0;
    }

    .auth-error {
        color: #e0422a;
        text-align: center;
        margin: 0.3rem 0;
    }
}

.auth-card p{
    margin-left: 4.8rem;
    font-size:smaller;
}

.auth-card h1 {
    font-weight:900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.auth-card label {
    font-weight: 400;
    font-size: large;
    margin-left: 15px;
}

.auth-input {
    border-radius: 11px;
    background-color: #6F9AC3;
    margin: 5px;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.auth-input::placeholder {
    color: rgba(8, 8, 8, 0.25);
    font-weight: bold;
}

.auth-button {
    background-color: #2B69A5;
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    margin-top: 30px;
    color: #f1f1f1;
    font-weight: 900;
    font-size: large;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #2D7DD2;
    cursor: pointer;
}

.auth-button:active {
    background-color: #1a5a8a;
}