*,
*::before,
*::after {
    box-sizing: border-box;
}

.forgot-container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: 0.5s;

    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 24px 24px 0;
    }

    .forgot-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        color: #f1f1f1;
        padding: 40px 20px;
        box-sizing: border-box;
        position: relative;
        overflow-y: auto;
        gap: 20px;

        .return-button {
            outline: none;
            background: none;
            border: none;
            cursor: pointer;
            color: #f1f1f1;
            display: flex;
            align-items: flex-start;
            position: absolute;
            top: 35px;
            left: 35px;
            padding: 5px;

            svg {
                width: 54px !important;
                height: 54px !important;
            }
        }

        form {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        h1 {
            font-size: 42px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin: 0;
        }

        span {
            text-align: center;
            font-size: 18px;
            padding: 40px;
            line-height: 1.4;
        }

        input {
            padding: 16px 20px;
            outline: none;
            border: 2px transparent solid;
            border-radius: 10px;
            width: 100%;
            box-sizing: border-box;
            transition: 0.5s;
            background: #F1F1F1;

            &:active,
            &:focus {
                border-color: #7028F5;
                background-color: #FFFFFF;
            }
        }

        .email-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;

            input {
                padding: 14px 130px 14px 14px;
                font-size: 18px;
            }

            button {
                outline: none;
                background: none;
                border: none;
                cursor: pointer;
                color: #7028F5;
                font-weight: bold;
                font-size: large;
                transition: color 0.3s;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);

                &:hover {
                    color: #4f11ca;
                }

                &:disabled {
                    color: #555555;
                    cursor: not-allowed;
                }
            }
        }

        .otp-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
            padding-bottom: 15px;
            padding-top: 10px;
            width: 100%;

            input {
                width: 100%;
                height: auto;
                aspect-ratio: 1 / 1;
                padding: 0 !important;
                text-align: center;
                font-size: 22px;
                font-weight: bold;
                color: #260f52;
                background-color: #F1F1F1;
                border-radius: 10px;

                &:focus {
                    border-color: #7028F5;
                    background-color: #FFFFFF;
                }
            }
        }

        .input-button {
            text-decoration: none;
            text-align: center;
            border: none;
            font-weight: bold;
            font-size: 20px;
            padding: 14px 0;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            background-color: #7028F5;
            border-radius: 10px;
            color: #F2F2F2;
            transition: background-color 0.3s;

            &:hover {
                background-color: #4f11ca;
            }

            &:disabled {
                background-color: #555555;
                color: #999999;
                cursor: not-allowed;
            }
        }
    }
}

/* Responsividade Mobile */
@media (max-width: 750px) {
    .forgot-container {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        padding-top: 180px;
        background-image: url('../../assets/background-rpg-vertical-mobile.svg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        overflow-y: auto;

        img {
            display: none;
        }

        .forgot-content {
            width: 100%;
            height: auto;
            flex: 1;
            margin-top: -30px;
            border-radius: 28px 28px 0 0;
            padding: 35px 24px 40px 24px;
            box-shadow: 0 -12px 30px rgba(0, 0, 0, 0.6);
            background: linear-gradient(to bottom, #444444 0%, #1B1B1B 100%);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .return-button {
                top: 15px;
                left: 10px;

                svg {
                    width: 44px !important;
                    height: 44px !important;
                }
            }

            span {
                padding: 30px;
            }

            .email-wrapper {

                input {
                    padding: 15px 95px 15px 15px;
                }
            }

            form {
                max-width: 100%;
            }
        }
    }
}