* {
    box-sizing: border-box;
    font-family: Inter;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #585858 0%, #1B1B1B 88%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #27232C transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #27232C;
  border-radius: 10px;
}